<ion-view view-title="Map">
  <ion-nav-bar class="bar-balanced">
    <ion-nav-buttons side="left">
        <a class="button button-clear" href="#/dash">
          <i class="big-icon ion-chevron-left"></i>
        </a>
    </ion-nav-buttons>
  </ion-nav-bar>
  
  <ion-content>
    <ui-gmap-google-map center='map.center' zoom='map.zoom'>
      <ui-gmap-markers models="places" coords="'self'" icon="'icon'" click="clickedLocation()">
      </ui-gmap-markers>
    </ui-gmap-google-map>
  </ion-content>
</ion-view>
