<ion-view view-title="Report an Issue">
  <ion-nav-bar class="bar-balanced">
    <ion-nav-buttons side="left">
        <a class="button button-clear" href="#/prompt">
          <i class="big-icon ion-chevron-left"></i>
        </a>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content>
    <center>
      <div class="">
        <center>
          <img src="../img/mockup-leaf.jpg" height='250px' align="center center">
        </center>
      </div>
    </center>
    <br>
    <center>
    <h4 ng-show="isEnabled">What issue would you like to report?</h4>
    <h4 ng-show="!isEnabled">Retrieving your location...</h4>
    </center>
    <div class="row">
      <button ng-disabled="!isEnabled" ng-click="sendReport('Deforestation')" class="button button-block button-assertive btn-radius"><small><b>DEFORESTATION</b></small></button>
    </div>
    <div class="row">
      <button ng-disabled="!isEnabled" ng-click="sendReport('Forest Fire')" class="button button-block button-assertive btn-radius"><small><b>FOREST FIRE</b></small></button>
    </div>
    <div class="row">
      <button ng-disabled="!isEnabled" ng-click="sendReport('Illegal Logging')" class="button button-block button-assertive btn-radius"><small><b>ILLEGAL LOGGING</b></small></button>
    </div>
    </div>
  </ion-content>

</ion-view>
