<ion-view view-title="Dashboard">
  <ion-content class="padding">
  	<div class="row row-center">
  		<div class="col col-center">
        <img src="../img/Identreefy_Logo.png" style="width: 100%; height: auto;">
        <img src="../img/Identreefy_Logo Name.png" style="width: 100%; height: auto;">
  		</div>
  	</div>
    <center>
    <ul>
      <li><a href="#/login">Simulate Login</a></li>
      <li><a href="#/prompt">Selection Menu</a></li>
      <li><a href="#/map">View the Map</a></li>
    </ul>
    </center>
  </ion-content>
</ion-view>
